$breakpoints: ( xs: 576px, sm: 768px, md: 850px, lg: 1200px );

@mixin transform($transform...) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}
@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,500,600,700');

$font: -apple-system, system-ui,  Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$primary: #6551CC;
$secondary: #1f2227;

html{
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  color: $secondary;
  font-size: 112.5%;
  @include respond-above(sm){
    font-size: 137.5%;
  };
}
.lead{
  // font-size: 1.3rem;
  // line-height: 1.5;
  // @include respond-above(md){
    line-height: 1.3;
    font-size: 1.6rem;
  // };
}
a{
  color: $secondary;
  display: inline-block;
  position: relative;
  text-decoration: none;
  &:after{
    width: 100%;
    height: 2px;
    background: rgba($primary,.4);
    content: "";
    position: absolute;
    bottom: 2px;
    right: 0;
    transition: .2s ease-in-out;
    z-index: -1;
  }
  &:hover, &:focus{
    &:after{
      height: 50%;
    }
  }
}
h1{
  margin-top: 3rem;
  font-size: 3.5rem;
  @include respond-above(sm){
    font-size: 4.242rem;
    line-height: 4.5rem;
  };
	@media print {
		margin-top: 0;
	  font-size: 3rem;
	}
}
h2{
  font-size: 2rem;
  margin-top: 2.5rem;
  @include respond-above(sm){
    font-size: 3rem;
    line-height: 4rem;
  };
	@media print {
		margin-top: 1rem;
		font-size: 2rem;
		line-height: 2rem;
	}

}
h3{
  margin-top: 2.5rem;
  @include respond-above(sm){
  };
	@media print {
		margin-top: 1rem;
		margin-bottom: .5rem;
	}
}
.indent{
	margin-left: 2rem;
	@media print {
		margin-left: 0;
	}

}
.entry{
	@media print {
		margin-bottom: 2rem;
	}
	p{
		@media print {
			margin-bottom: 0;
			line-height: 1.5rem;
		}
	}
}
footer{
  margin-top: 2rem;
	@media print {
		display: none;
	}
}
.home-link{
	@media print {
		display: none;
	}
}
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.title_attr{
	font-weight: bold;
}
.mb-0{
	margin-bottom: 0;
}
.mt-1{
	margin-top: 1rem;
}
